.green-bg{
    background-image : linear-gradient(rgba(19,72,25,0.85), rgba(19,72,25,0.85)), url('../img/cvsu-building.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#heroine .container {
    height : 92vh;
    justify-content: center;
    display: flex;
  align-items: center;
}

#heroine .row {
    display: flex;
    flex-wrap : wrap;
}
#heroine .col {
    flex: 1 0 18%; /* The important bit. This percentage decides your columns. 
   The percent can be px. It just represents your minimum starting width.
    */
    margin: 5px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}